<div class="container">
  <div class="game-container">
    <div id="answers-list" data-game-id="<%= @answers.first.game.id %>">
      <% if Answer.where(question: @answers.first.question).count == @answers.first.game.players.count %>
        <% @answers.each do |answer| %>
          <%= render partial: 'answer', locals: {answer: answer} %>
        <% end %>
      <% else %>
        <p>Waiting for answers...</p>
      <% end %>
    </div>
  </div>
</div>
