<div class="container">
  <ul>
    <% @answers.each do |answer| %>
      <li>
        <%= link_to answer_votes_path(answer), method: :post do %>
          <%= answer.player.user.name %>: <%= answer.answer %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

