<div class="container">
  <ul id="answers-list" data-game-id="<%= @answers.first.game.id %>">
    <% @answers.each do |answer| %>
      <%= render partial: 'answer', locals: {answer: answer} %>
    <% end %>
  </ul>
</div>

