<div class="container d-flex justify-content-center" style="height: calc(100vh - 65px)">
  <div class="game-container bg-white p-5 my-3 shadow-sm rounded d-flex flex-column justify-content-center h-50">
    <div class="d-flex flex-column">
      <%= link_to 'JOIN A GAME', new_player_path, class: "btn btn-outline-primary my-2" %>
      <%= link_to 'START A GAME', games_path, method: :post, class: "btn btn-primary my-2" %>
    </div>
  </div>
</div>
