<div class="container d-flex justify-content-center">
  <div class="d-flex flex-column">
    <%= link_to 'JOIN A GAME', new_player_path%>
    <%= link_to 'START A GAME', games_path, method: :post %>
  </div>
</div>
